DAT_ENVIRONMENT=development
DAT_HOST=127.0.0.1
DAT_PORT=8080
DAT_DATA_DIR=./case-data
DAT_MAX_EXPORT_BYTES=104857600
DAT_PUBLIC_BASE_URL=http://127.0.0.1:8080
DAT_ENABLE_NETWORK_COLLECTION=false
DAT_DNS_TIMEOUT_SECONDS=2
DAT_DNS_LIFETIME_SECONDS=5
DAT_MAX_DNS_RECORDS_PER_TYPE=50
DAT_MAX_PENDING_COLLECTION_JOBS=10
DAT_ENABLE_SCREENSHOTS=false
DAT_ENABLE_EXTERNAL_APIS=false
DAT_ENABLE_LLM=false
DAT_LLM_PROVIDER=disabled
DAT_LLM_BASE_URL=
DAT_LLM_API_KEY=
DAT_LLM_MODEL=
DAT_MICROSOFT_GRAPH_ENABLED=false
DAT_MICROSOFT_TENANT_ID=
DAT_MICROSOFT_CLIENT_ID=
